// Here you can add other styles
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.breadcrumb{
    margin-bottom: 10px;
}
// .mat-form-field-appearance-outline .mat-form-field-outline{
//     top:10px!important
// }
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 7px 0 7px 0;
}
.mat-form-field-label-wrapper {
    top: -18px;
    padding-top: .84375em;
}
.mat-form-field-wrapper{
    padding-bottom: 12px;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin: 0px!important
}